<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="271d81c3-476b-4ec5-b6c1-6f128f7f4801" wadlVersion="http://wadl.dev.java.net/2009/02" name="Draw Cards" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="271d81c3-476b-4ec5-b6c1-6f128f7f4801fileName">Draw-Cards</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://deckofcardsapi.com</con:endpoint>
  </con:endpoints>
</con:interface>
