<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c78a48ab-429f-4e29-a9d1-0916916b8a05" name="Draw Cards Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c78a48ab-429f-4e29-a9d1-0916916b8a05fileName">Draw-Cards-Test-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
