<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3653e2b8-875a-4fe4-a686-141c7d6963f3" name="Add to Pile Test Suite" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3653e2b8-875a-4fe4-a686-141c7d6963f3fileName">Add-to-Pile-Test-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
